{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": "false",
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-styled-components",
    "add-module-exports",
    "transform-class-properties",
    "transform-es2015-modules-commonjs"
  ]
}
